* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* header-section */
h1 {
  font-size: 50px;
}
.make-blue {
  color: rgb(33, 33, 209);
}
section {
  display: flex;
  margin-bottom: 10px;
}
.top-banner {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  text-align: justify;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-image: linear-gradient(cornflowerblue, darkblue);
  color: whitesmoke;
  font-weight: 800;
  line-height: 6.5;
}

/* header-section */
/* banner-section-start */
.dream-section {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 95, 54));
  background-size: cover;
  padding: 10px;
}
