/* common code start */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* common code end */
/* header-section */
h1 {
  font-size: 50px;
}
.make-blue {
  color: rgb(33, 33, 209);
}
.flex-items {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
}
.top-banner {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  text-align: justify;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-image: linear-gradient(cornflowerblue, darkblue);
  color: whitesmoke;
  font-weight: 800;
  line-height: 6.5;
}
/* header-section */
/* banner-section-start */
.dream-section {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 95, 54));
  background-size: cover;
  padding: 10px;
  margin-bottom: 10px;
}
.dream-fix {
  margin-top: 70px;
  padding: 25px;
}
/* banner-section-end*/
/* experience section start */
.experience-area {
  padding: 50px;
}
.experience-area h1 {
  position: relative;
  left: 37%;
  bottom: 10px;
}
.experience-area p {
  padding: 30px;
}
.experience-area h2,
h3 {
  align-items: center;
  margin-left: 15px;
  padding: 15px;
}
.box-shadow-design {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  box-shadow: 10px 12px 40px rgb(235, 107, 68);
  border-radius: 5px;
}
/* experience section end */
/* footer section start */
footer p {
  padding: 20px;
  text-align: center;
}
/* footer section end */
