* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.padding-from-bottom {
  padding-bottom: 40px;
}
#padding-from-top {
  padding-top: 40px;
}

.make-blue {
  color: rgb(33, 33, 209);
}

.top-banner {
  display: flex;
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  text-align: justify;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  padding-top: 10px;
  width: 87%;
}
.link-button {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-image: linear-gradient(cornflowerblue, darkblue);
  color: whitesmoke;
  font-weight: 800;
}
